name: "Build"

env:
  RUST_VERSION: "stable 6 months ago"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  checks:
    name: Run checks
    strategy:
      fail-fast: false
      matrix:
        os: [anoncreds-ubuntu-latest, macos-latest, anoncreds-windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_VERSION }}
          components: clippy, rustfmt

      - name: Cache cargo resources
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: deps
          cache-on-failure: true

      - name: Cargo fmt
        run: cargo fmt --all -- --check

      - name: Cargo check
        run: cargo check --workspace --features openssl_vendored

      - name: Debug build
        run: cargo build --all-targets --features openssl_vendored

      - name: Run tests
        run: cargo test --workspace --features openssl_vendored
        env:
          RUST_BACKTRACE: full

      - name: Run tests (native backend)
        run: cargo test --workspace --no-default-features --features serde
        env:
          RUST_BACKTRACE: full

      - name: Release build
        run: cargo build --release --all-targets --features openssl_vendored
